<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= current_article.data.description || current_article.summary %>">
  <meta name="author" content="Arandi López">
  <%= partial 'partials/favicons' %>
  <link rel="manifest" href="/manifest.json?id=001">
  <%= partial 'partials/og_article' %>
  <link rel="alternate" type="application/atom+xml" title="Articles" href="/rss.xml" />
  <title><%= current_article.data.title || "Arandi Lopez" %></title>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">
  </noscript>
  <link href='https://cdn.jsdelivr.net/npm/devicons@1.8.0/css/devicons.min.css' rel='stylesheet'>
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/atom-one-dark.min.css">
  <%= partial 'partials/loadcsspreload' %>
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "vendor", defer: 'defer' %>
  <%= javascript_include_tag "site", defer: 'defer' %>
</head>
<body id="page-top" class="font-sans text-black leading-tight">
  <div id="app" class="py-8 lg:py-16 px-6 md:px-16 lg:px-24">
    <%= partial 'partials/navbar' %>
    <div class="mt-12">
      <div class="max-w-lg mx-auto">
        <article class="article">
          <header class="mb-8">
            <h1 class="text-4xl"><%= current_article.title %></h1>
            <time class="text-sm font-semibold uppercase text-grey-dark"><%= current_article.date.strftime('%B %e, %Y') %></time>
          </header>
          <div class="markdown">
            <%= yield %>
          </div>
        </article>
        <div class="next-articles print:hidden">
          <hr class="border-t border-solid border-grey-light">
          <% next_article = articles(except: current_article).sample %>
          <% if next_article %>
          <div class="mt-6">
            <h5>Next article:</h5>
            <%= partial 'partials/demo_article', locals: {article: next_article} %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
