<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Personal page and resume">
  <meta name="author" content="Arandi López">
  <%= partial 'partials/favicons' %>
  <link rel="manifest" href="/favicon/manifest.json">
  <%= partial 'partials/og' %>
  <title><%= current_page.data.title || "Arandi Lopez" %></title>
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href='https://cdn.jsdelivr.net/npm/devicons@1.8.0/css/devicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site", async: 'async' %>
</head>
<body id="page-top">
  <%= partial 'partials/navbar' %>
  <div class="container-fluid p-0">
    <%= yield %>
  </div>
</body>
</html>
