<div class="relative z-20 flex justify-between items-center">
  <div class="flex md:block lg:flex items-center max-w-full">
    <div class="mb-0 md:mb-4 lg:mb-0 flex flex-no-shrink pr-4 md:pr-6 lg:pr-12 print:hidden">
      <a href="/" class="flex items-center no-underline">
        <%= image_tag "profile.jpg", class: "h-10 w-10 md:h-12 md:w-12 lg:h-20 lg:w-20 rounded-full" %>
      </a>
    </div>
    <div class="print:flex-1">
      <% link_to("/", class: "print:hidden text-black no-underline font-bold text-xl lg:text-3xl font-extrabold leading-none lg:leading-tight") do %>
        Arandi López
      <% end %>

      <% if current_page.page_id =~ /resume/ %>
        <div class="hidden print:block print:text-4xl text-black font-extrabold">
          Arandi López <span class="<%= 'hidden' if I18n.locale == :en %>">Alonzo</span>
        </div>
        <div class="hidden print:block mt-3 text-grey-darkest border-top border-down border-color-grey-darkest">
          <%= t('author.address') %>
          <br>
          <%= mail_to 'hello@arandilopez.dev', "hello@arandilopez.dev", class: "text-grey-darkest no-underline" %>
        </div>
      <% end %>

      <div class="hidden md:flex mt-3 lg:mt-4 uppercase text-xs">
        <%= nav_link "Resume", "/resume", class: "text-grey-dark font-semibold no-underline hover:text-black mr-6" %>
        <%= nav_link "Articles", "/articles", class: "text-grey-dark font-semibold no-underline hover:text-black mr-6" %>
      </div>
    </div>
  </div>

  <div class="block md:hidden print:hidden">
    <button class="block" @click="toggleMenu">
      <svg style="display: block;" :class="menuOpen ? 'hidden' : 'block'" class="block text-black h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      <svg style="display: none;" :class="menuOpen ? 'block' : 'hidden'" class="text-black h-6 w-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
    </button>
  </div>
</div>
<div style="display: none;" :class="menuOpen ? 'block' : 'hidden'" class="md:hidden z-10 bg-white fixed pin pt-24">
  <div class="overflow-y-auto pt-6 pb-8 px-12 max-h-full overflow-y-auto">
    <%= link_to "Resume", "/resume", class: "block text-black font-semibold no-underline mb-8" %>
    <%= link_to "Articles", "/articles", class: "block text-black font-semibold no-underline mb-8" %>
  </div>
</div>
