---
layout: default
---
<article class="article max-w-xs sm:max-w-3xl mx-auto">
    <h1>{{ page.title }}</h1>
    <ul class="hidden sm:flex items-center space-x-2 text-xs font-mono mb-3 list-none">
        {% for tag in page.tags %}
            <li class="flex-grow-0 rounded px-2 py-1 bg-gray-200">{{ tag }}</li>
        {% endfor %}
    </ul>

    {{ content }}

    {% if page.published %}
        <section>
            <hr class="border-t-2 border-gray-800" />
            {% find available_posts where site.posts, published == true, title != page.title %}
            {% assign next_post = available_posts | sample %} 
            {% if next_post %}
                <article>
                    <h4 class="uppercase font-title text-sm">Next article:</h4>
                    <a href="{{ next_post.url  }}">
                        <h3 class="text-gray-700">{{ next_post.title  }}</h3>
                    </a>
                    <div class="summary">
                        {{ next_post.excerpt  }}
                    </div>
                </article>
            {% endif %}
        </section>
    {% endif %}
</article>

